@reboot /bin/bash -c 'echo export RANDOM_TIME=$(($RANDOM\%3600)) >> /root/.profile'
@reboot /opt/ot_tools/suricata_update.sh > /dev/null 2>&1
* * * * * /opt/ot_tools/suricata_cron.sh enp1s0 > /dev/null 2>&1
* * * * * /opt/ot_tools/p0f_cron.sh enp1s0 > /dev/null 2>&1
* * * * * /opt/ot_tools/yaf_cron.sh enp1s0 > /dev/null 2>&1
@reboot /usr/local/zeek/bin/zeekctl deploy
* * * * * /usr/local/zeek/bin/zeekctl cron
* * * * * sleep 5; /opt/ot_tools/ot_cron.sh > /dev/null 2>&1
0 * * * * /opt/ot_tools/complete_to_archives.sh > /dev/null 2>&1
0 1 * * * /bin/bash -c 'source /root/.profile; sleep $RANDOM_TIME'; /opt/ot_tools/suricata_update.sh > /dev/null 2>&1
