name: Secretlint
on: push
env:
  CI: true
jobs:
  test:
    name: "Secretlint"
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        node-version: [12]
    steps:
      - name: checkout
        uses: actions/checkout@v2
      - name: setup Node ${{ matrix.node_version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node_version }}
      - name: Install
        run: npm install
      - name: Lint with Secretlint
        run: npx secretlint "**/*"
